<form action='/figures' method='post'>
  <input type="text" name="figure[name]" id="figure_name"></input>
</br>
  <input type="text" name="figure[title_ids][]"></input>
</br>
  <input type="text" name="figure[landmark_ids][]"></input>
</br>
  <input type="text" name="landmark[name]"></input>
</br>
  <% Titles.each do |title| %>
    <input type="checkbox" name="figure[title_ids][]" id="title_<%=title.id%>" value="<%=title.id%>"><%=title.name%></input></br>
  <% end %>
  <input type="submit" value="Create New Figure"></button>
</form>
