<form action='/figures' method='post'>
  <input type="text" name="figure[name]" id="figure_name"></input>
</br>
  <input type="text" name="figure[title_ids][]"></input>
</br>
  <input type="text" name="figure[landmark_ids][]"></input>
</br>
  <input type="text" name="landmark[name]"></input>
</br>
  <input type="text" name="title[name]" value="<%=title.id%>"><%=title.name%></input>
</form>
